h3
  | #{gist.description}
  small
    a(href=gist.html_url) secret fork
    | , #{_.size(gist.files)} file#{_.size(gist.files) == 1 ? '' : 's'}
each file in gist.files
  h3 #{file.filename}
  div.editor(data-filename=file.filename)
